h1,
h2,
h3,
h4 {
  font-weight: inherit;
}

button {
  background-color: transparent;
  color: inherit;
}

h1 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.message {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  font-size: clamp(var(--fs-100), calc(0.7955rem + 0.6061vw), var(--fs-500));
  line-height: var(--lh-fixed);
  letter-spacing: clamp(0.1875rem, calc(0.1591rem + 0.1212vw), 0.25rem);
}

.current_time {
  display: flex;
  align-items: baseline;
  column-gap: 1rem;
}

.time {
  font-weight: 700;
  font-size: clamp(var(--fs-800), calc(3.4091rem + 12.1212vw), var(--fs-900));
  line-height: 1;
  letter-spacing: var(--ls-100);
}

.timezone {
  font-size: clamp(var(--fs-100), calc(0.2273rem + 3.0303vw), var(--fs-650));
  line-height: var(--lh-fixed);
}

.location {
  display: block;
  font-weight: var(--fw-700);
  font-size: clamp(var(--fs-100), calc(0.7955rem + 0.6061vw), var(--fs-500));
  line-height: var(--lh-fixed);
  letter-spacing: clamp(0.1875rem, calc(0.1364rem + 0.2182vw), 0.3rem);
}

.quote__text {
  display: block;
  max-width: calc(var(--page-width) / 2);
  font-weight: var(--fw-400);
  font-size: clamp(0.75rem, calc(0.3922rem + 1.5267vw), var(--fs-400));
  margin-bottom: 1rem;
}

.quote__author {
  max-width: calc(var(--page-width) / 2);
  font-weight: var(--fw-700);
  font-size: clamp(0.75rem, calc(0.3922rem + 1.5267vw), var(--fs-400));
}

dl {
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

dt {
  font-weight: var(--fw-400);
  font-size: clamp(0.625rem, calc(0.483rem + 0.6061vw), var(--fs-100));
  line-height: var(--lh-fixed);
  letter-spacing: var(--ls-400);
  text-transform: uppercase;
}

dd {
  font-weight: var(--fw-700);
  font-size: clamp(var(--fs-500), calc(0.2273rem + 4.3636vw), var(--fs-700));
  line-height: var(--lh-200);
}

.btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--white);
  color: rgba(#000, 0.5);
  padding: 0.5rem;
  padding-left: 1.25rem;
  border: 0;
  text-transform: uppercase;
  letter-spacing: var(--ls-600);
  font-weight: var(--fw-700);
  font-size: 1rem;
  line-height: var(--lh-fixed);
  border-radius: 50vw;
  column-gap: 0.75em;
  cursor: pointer;
}
