<footer class="extra">
    <dl class="clamp">
        <div>
            <dt>CURRENT TIMEZONE</dt>
            <dd data-timezone></dd>
        </div>
        <div>
            <dt>Day of the year</dt>
            <dd data-day-year></dd>
        </div>
        <div>
            <dt>Day of the week</dt>
            <dd data-day-week></dd>
        </div>
        <div>
            <dt>Week number</dt>
            <dd data-week-number></dd>
        </div>
    </dl>
</footer>