<div class="quote">
    <q class="quote__text" data-quote-text></q>
    <p class="quote__author" data-quote-author></p>
    <button data-load-quote>
        <span class="sr-only">Load another quote</span>
        <img aria-hidden="true" src="/dist/svg/icon-refresh.svg" alt="">
    </button>
</div>