<div class="current">
    <h1>
        <span class="message">
            <img src="/dist/svg/icon-moon.svg" alt="Moon">
            GOOD MORNING, IT’S CURRENTLY</span>
        <span class="current_time">
            <span class="time" data-combined-time></span>
            <span class="timezone" data-clock-time></span>
        </span>
        <span class="location">IN LONDON, UK</span>
    </h1>
    <button class="btn" id="translate">more <img src="/dist/svg/icon-arrow-up.svg" alt=""></button>
</div>